.table_lowm td{
	padding: .30rem !important;
}
.swal2-popup,
.swal2-title {
  font-size: 1.6rem !important;
}
li.menu-open:nth-child(n+1) {
	-webkit-transition: 1s ease-out;
	-moz-transition: 1s ease-out;
	-o-transition: 1s ease-out;
	transition: 1s ease-out;
    background-color: #4B688E !important;   
}
.bold {
	font-weight: 900!important;
}
.bb-3 {
	border-bottom: 3px solid #000;
}
.separator_hr {
    display: flex;
    align-items: center;
    text-align: center;
}
.separator_hr::before, .separator_hr::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}
.separator_hr::before {
    margin-right: .25em;
}
.separator_hr::after {
    margin-left: .25em;
}
.border-none {
    border: none;
}
.timeline2 {
    border-left: 3px solid #727cf5;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: rgba(114, 124, 245, 0.09);
    margin: 0 auto;
    letter-spacing: 0.2px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 25px;
    list-style: none;
    text-align: left;
    /*max-width: 40%;*/
}

@media (max-width: 767px) {
    .timeline2 {
        max-width: 98%;
        padding: 25px;
    }
}

.timeline2 h1 {
    font-weight: 300;
    font-size: 1.4em;
}

.timeline2 h2,
.timeline2 h3 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 10px;
}

.timeline2 .event {
    border-bottom: 1px dashed #e8ebf1;
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
    padding-top: 30px;
}

.timeline2 .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline2 .event:before,
.timeline2 .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline2 .event:before {
    left: 0px;
    content: attr(data-date);
    text-align: left;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
}

.timeline2 .event:after {
    -webkit-box-shadow: 0 0 0 3px #727cf5;
    box-shadow: 0 0 0 3px #727cf5;
    left: -31.8px;
    background: #fff;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 5px;
}

.rtl .timeline2 {
    border-left: 0;
    text-align: right;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: 3px solid #727cf5;
}

.rtl .timeline2 .event::before {
    left: 0;
    right: -170px;
}

.rtl .timeline2 .event::after {
    left: 0;
    right: -55.8px;
}
.menu .accordion-heading {  position: relative; }
.menu .accordion-heading .edit {
    position: absolute;
    top: 8px;
    right: 30px; 
}
.menu .area { border-left: 4px solid #f38787; }
.menu .equipamento { border-left: 4px solid #65c465; }
.menu .ponto { border-left: 4px solid #98b3fa; }
.menu .collapse.in { overflow: visible; }

.bg-powderblue {
    background-color: powderblue;
}

.bg-orange {
    background-color: #FFA500;
}